.social-media-link-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

mat-card {
  box-shadow: none !important;
}

.social-media-link-list-light .link:hover mat-card {
  background-color: rgba($color: #000000, $alpha: 0.1) !important;
}

.social-media-link-list-dark .link:hover mat-card {
  background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
}
 
.link .dark-theme {
  background-color: lightgreen;
}

.large-icon {
  width: 3rem;
  height: 4rem;
}

mat-card {
  text-align: center;
  width: 4rem;
}