.button-section {
  margin-top: 2rem;
  text-align: center;
}

.button-section-raw {
  display: flex;
}

.button-section-group {
  display: flex;
  flex-wrap: wrap;
  button {
    margin: 0.5rem;
  }
}

.button-section-label {
  width: 10rem;
  text-align: start;
  padding: 1rem;
}