.button-section {
  margin-top: 2rem;
  text-align: center;
}

.button-section-raw {
  // border: 1px solid black;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // padding: 1rem;
  display: flex;
}

.button-section-group {
  display: flex;
  flex-wrap: wrap;
  button {
    margin: 0.5rem;
  }
}

.button-section-label {
  width: 10rem;
  text-align: start;
  padding: 1rem;
}