<div class="main-text">
  <h1>Button</h1>
  <p>Angular Material buttons are native &lt;button&gt; or &lt;a&gt; elements enhanced with Material Design styling and ink ripples.</p>
  <div class="button-section">
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>Basic button:</span>
      </div>
      <div class="button-section-group">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Basic</button>
        <button mat-button color="accent">Basic</button>
        <button mat-button color="warn">Basic</button>
        <button mat-button disabled>Basic</button>
      </div>
    </div>
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>Raised button:</span>
      </div>
      <div class="button-section-group">
        <button mat-raised-button>Raised</button>
        <button mat-raised-button color="primary">Raised</button>
        <button mat-raised-button color="accent">Raised</button>
        <button mat-raised-button color="warn">Raised</button>
        <button mat-raised-button disabled>Raised</button>
      </div>
    </div>
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>Stroked button:</span>
      </div>
      <div class="button-section-group">
        <button mat-stroked-button>Stroked</button>
        <button mat-stroked-button color="primary">Stroked</button>
        <button mat-stroked-button color="accent">Stroked</button>
        <button mat-stroked-button color="warn">Stroked</button>
        <button mat-stroked-button disabled>Stroked</button>
      </div>
    </div>
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>Flat button:</span>
      </div>
      <div class="button-section-group">
        <button mat-flat-button>Flat</button>
        <button mat-flat-button color="primary">Flat</button>
        <button mat-flat-button color="accent">Flat</button>
        <button mat-flat-button color="warn">Flat</button>
        <button mat-flat-button disabled>Flat</button>
      </div>
    </div>
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>Icon button:</span>
      </div>
      <div class="button-section-group">
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        <button mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
        <button mat-icon-button color="accent"><mat-icon>menu</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button disabled><mat-icon>open_in_new</mat-icon></button>
      </div>
    </div>
    <div class="button-section-raw">
      <div class="button-section-label">
        <span>FAB button:</span>
      </div>
      <div class="button-section-group">
        <button mat-fab><mat-icon>more_vert</mat-icon></button>
        <button mat-fab color="primary"><mat-icon>home</mat-icon></button>
        <button mat-fab color="accent"><mat-icon>menu</mat-icon></button>
        <button mat-fab color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-fab disabled><mat-icon>open_in_new</mat-icon></button>
      </div>
    </div><div class="button-section-raw">
      <div class="button-section-label">
        <span>Mini FAB button:</span>
      </div>
      <div class="button-section-group">
        <button mat-mini-fab><mat-icon>more_vert</mat-icon></button>
        <button mat-mini-fab color="primary"><mat-icon>home</mat-icon></button>
        <button mat-mini-fab color="accent"><mat-icon>menu</mat-icon></button>
        <button mat-mini-fab color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-mini-fab disabled><mat-icon>open_in_new</mat-icon></button>
      </div>
    </div>
  </div>
</div>