$sidenav-section-padding: 0.7rem;
$sidenav-section-width: 15rem;
$sidenav-section-selected-background-color: #f44336;;

.sidenav-container {
    flex-grow: 1;
}

.sidenav-section {
    display: flex !important;
    align-content: center;
    align-items: center;
    width: $sidenav-section-width;
    padding-top: $sidenav-section-padding;
    padding-bottom: $sidenav-section-padding;
    font-size: 1rem;
}

.no-text-decoration {
    text-decoration: none;
}

.sidenav-width {
    width: $sidenav-section-width;
}

.sidenav-section-selected {
    background-color: $sidenav-section-selected-background-color !important;
    color: white;
}