$sidenav-section-padding: 0.7rem;
$sidenav-section-width: 15rem;
$sidenav-section-selected-background-color: rgba(255, 0, 0, 0.3);

.sidenav-container {
    padding-top: 1rem;
    flex-grow: 1;
}

.sidenav-section {
    display: flex !important;
    align-content: center;
    align-items: center;
    padding: $sidenav-section-padding;
    width: $sidenav-section-width;
    padding-left: 1rem !important;
    font-size: 1rem;
}

.blank-ends {
    height: $sidenav-section-padding;
}

.no-text-decoration {
    text-decoration: none;
}

.sidenav-width {
    width: $sidenav-section-width;
}

.sidenav-section-selected {
    background-color: $sidenav-section-selected-background-color !important;
}