<div [ngStyle]="{'padding': '2rem'}">
  <h1>Bottom Sheet</h1>
  <p>The MatBottomSheet service can be used to open Material Design panels to the bottom of the screen. These panels are intended primarily as an interaction on mobile devices where they can be used as an alternative to dialogs and menus.</p>
  <div class="buttons-section">
    <button mat-raised-button (click)="openSocialMediaBottomSheet()">Open Social Media Bottom Sheet</button>
    <button mat-raised-button (click)="openCommonActionsBottomSheet()">Open Common Actions Bottom Sheet</button>
  </div>
</div>