$top-nav-height: 64px;

.tp-container {
    background: #eee;
    padding-top: 1rem;
}

.tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 15rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.spacer {
    flex: 1 1 auto;
}

.top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2 !important;
    box-shadow: 0 6px 10px #00000024,0 1px 18px #0000001f;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    position: fixed;
    top: $top-nav-height;
    height: calc(100vh - $top-nav-height);
    width: 100%;
}