<div [ngStyle]="{'height': '100%', 'display': 'flex', 'flex-direction': 'column'}">
    <app-top-navigation (menuToggleChange)="toggleSidenav()"></app-top-navigation>
    <app-side-navigation [ngStyle]="{'flex-grow': 1, 'display': 'flex'}" [sidenavOpened]="sidenavOpened">
        <router-outlet></router-outlet>
    </app-side-navigation>
    <!-- <mat-sidenav-container class="tp-container mat-drawer-container mat-sidenav-container" [ngStyle]="{'flex-grow': 1}">
        <mat-sidenav mode="side" [opened]="sidenavOpened">
            <section class="tp-section">
                <span>Autocomplete</span>
            </section>
            <section class="tp-section">
                <span>Badge</span>
            </section>
            <section class="tp-section">
                <span>Button</span>
            </section>
            <section class="tp-section">
                <span>Button toggle</span>
            </section>
            <section class="tp-section">
                <span>Bottom Sheet</span>
            </section>
            <section class="tp-section">
                <span>Card</span>
            </section>
            <section class="tp-section">
                <span>Checkbox</span>
            </section>
            <section class="tp-section">
                <span>Chips</span>
            </section>
            <section class="tp-section">
                <span>Core</span>
            </section>
            <section class="tp-section">
                <span>Datepicker</span>
            </section>
            <section class="tp-section">
                <span>Dialog</span>
            </section>
            <section class="tp-section">
                <span>Divider</span>
            </section>
            <section class="tp-section">
                <span>Expansion Panel</span>
            </section>
            <section class="tp-section">
                <span>Form field</span>
            </section>
            <section class="tp-section">
                <span>Grid list</span>
            </section>
            <section class="tp-section">
                <span>Icon</span>
            </section>
            <section class="tp-section">
                <span>Input</span>
            </section>
            <section class="tp-section">
                <span>List</span>
            </section>
            <section class="tp-section">
                <span>Menu</span>
            </section>
            <section class="tp-section">
                <span>Paginator</span>
            </section>
            <section class="tp-section">
                <span>Progress bar</span>
            </section>
            <section class="tp-section">
                <span>Progress spinner</span>
            </section>
            <section class="tp-section">
                <span>Radio button</span>
            </section>
            <section class="tp-section">
                <span>Ripples</span>
            </section>
            <section class="tp-section">
                <span>Select</span>
            </section>
        </mat-sidenav>
        <mat-sidenav-content>Start
            <p>Abcdefgh</p>
        </mat-sidenav-content>
        <mat-sidenav-content position="start">Start 2</mat-sidenav-content>
    </mat-sidenav-container> -->
</div>
<!-- <button (click)="toggleSidenav()">
  <span>Toggle</span>
</button>
<mat-slider></mat-slider>
<mat-card>
  <mat-card-title>Abcd</mat-card-title>
  <mat-card-content>
    <p>Abcd abcds</p>
  </mat-card-content>
  <mat-card-footer>
    abcd
  </mat-card-footer>
</mat-card>  -->