<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-nav-list [ngStyle]="{padding: 0}">
        <a routerLink="/">Angular Material Sample</a>
    </mat-nav-list>
    <span class="spacer"></span>
    <mat-icon class="m-c-1" [ngClass]="{'yellow': !darkTheme}">light_mode</mat-icon>
    <mat-slide-toggle [checked]="darkTheme" (change)="toggleTheme()"></mat-slide-toggle>
    <mat-icon class="m-c-1" [ngClass]="{'light-blue': darkTheme}">dark_mode</mat-icon>
</mat-toolbar>