/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$main-text-padding-vertical: 2.5rem;
$main-text-padding-horizontal: 1.5rem;

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif !important;
    line-height: 1.2 !important;
}

.main-text {
    padding-top: $main-text-padding-vertical;
    padding-bottom: $main-text-padding-vertical;
    padding-left: $main-text-padding-horizontal;
    padding-right: $main-text-padding-horizontal;
    max-width: 800px;
    margin: auto;
    p {
        line-height: 2rem;
    }
}